/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --minWidth: 1100px;
  --headerHeight: 3.5rem;
  --bgBlue: #0061ff;
  --bgLightBlue: #b4d0e7;
  --h1FontSize: 3.6rem;
  --h2FontSize: 2.5rem;
  --h3FontSize: 2rem;
}
body {
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
.dFlex {
  display: flex;
  flex-flow: row nowrap;
}
.dFlexColumn {
  display: flex;
  flex-flow: column nowrap;
}
.spaceBetween {
  justify-content: space-between;
}
.paddingLR {
  padding: 0 0.6rem;
}
.fStart {
  align-items: flex-start;
}
.alignCenter {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}
.gap {
  gap: 1rem;
}
.gap2 {
  gap: 2rem;
}
ul {
  list-style: none;
}
.blueButton {
  background-color: var(--bgBlue);
  color: white;
  padding: 0.5rem;
}
.whiteButton {
  background-color: white;
  color: black;
  padding: 0.5rem;
}
.blueButton:hover {
  opacity: 0.7;
}
.textAlign {
  text-align: center;
}
.h1FontSize {
  font-size: var(--h1FontSize);
}
.h2FontSize {
  font-size: var(--h2FontSize);
}
.h3FontSize {
  font-size: var(--h3FontSize);
}
.translateY20 {
  transform: translate(0, 20%);
}
.translateY40 {
  transform: translate(0, 40%);
}
/* /general */

/* nav */
nav {
  width: 100%;
  min-width: var(--minWidth);
  height: var(--headerHeight);
  z-index: 1;
  background-color: white;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
nav ul {
  height: 100%;
}
nav ul li {
  height: 100%;
}
nav ul li a {
  height: 100%;
}
nav ul .hover:hover,
nav ul .hover:hover a .hover {
  background-color: #f2eee8;
}
nav ul:first-child li:first-child {
  margin-right: 0.5rem;
}
nav ul:last-child li:last-child {
  margin-left: 0.5rem;
}
/* /nav */

/* main */
.navRelative {
  position: relative;
  top: var(--headerHeight);
  left: 0;
}
.wrapper {
  width: 60%;
  min-width: var(--minWidth);
  margin: 0 auto;
}
.bgLightBlue {
  background-color: lightblue;
  padding-top: 2rem;
}
.parentWidth {
  width: 100%;
}
.jumbo {
  width: 65%;
}
.parent30 {
  width: 35%;
}
.jumbo img {
  width: 100%;
  filter: drop-shadow(25px 25px 19px rgba(0, 0, 0, 0.15));
}
/* /main */
