/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --headerHeight: 3.5rem;
  --logoSize: 8rem;
  --bgBlue: #0061ff;
  --bgLightBackground: #f2eee8;
  --bgDarkerBackground: #e7e1d7;
  --bgLightBlue: #b4d0e7;
  --bgLightGreen: #a2d39b;
  --bgPrugna: #61082b;
  --bgLightGrey: #f5f5f5;
  --bgRed: #d5001f;
  --bgTurchese: #0093ce;
  --bgLightRed: #ff1c1c;
  --bgDarkBlue: #0d2481;
  --bgGold: #ffd830;
  --cardBorderColor: #aaaaaa;
  --lightBlackText: #7e7e7e;
  --h1FontSize: 3.6rem;
  --h2FontSize: 2.5rem;
  --h3FontSize: 2rem;
  --h4FontSize: 1.6rem;
  --h5FontSize: 1.2rem;
  --h6FontSize: 0.9rem;
  --h7FontSize: 0.85rem;
  --h8FontSize: 0.7rem;
  --cardRightMargin: 3rem;
}
body {
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
.aColorBlack a {
  color: black;
}
.aColorBlue a {
  color: var(--bgBlue);
}
.dFlex {
  display: flex;
}
.dFlexColumn {
  display: flex;
  flex-flow: column nowrap;
}
.spaceBetween {
  justify-content: space-between;
}
.fStart {
  align-items: flex-start;
}
.alignCenter {
  align-items: center;
}
.alignSelfCenter {
  align-self: center;
}
.justifyCenter {
  justify-content: center;
}
.wrap {
  flex-wrap: wrap;
}
.gap05 {
  gap: 0.5rem;
}
.gap {
  gap: 1rem;
}
.gap2 {
  gap: 2rem;
}
.gap3 {
  gap: 3rem;
}
.gap4 {
  gap: 4rem;
}
.padding06 {
  padding: 0.6rem;
}
.padding {
  padding: 1rem;
}
.paddingLR03 {
  padding: 0 0.3rem;
}
.paddingLR06 {
  padding: 0 0.6rem;
}
.paddingLR {
  padding: 0 1rem;
}
.paddingLR2 {
  padding: 0 2rem;
}
.paddingTop04 {
  padding-top: 0.4rem;
}
.paddingTop06 {
  padding-top: 0.6rem;
}
.paddingTop {
  padding-top: 1rem;
}
.paddingTop2 {
  padding-top: 2rem;
}
.paddingTop3 {
  padding-top: 3rem;
}
.paddingTop4 {
  padding-top: 4rem;
}
.paddingTop6 {
  padding-top: 6rem;
}
.paddingTop10 {
  padding-top: 10rem;
}
.paddingBottom04 {
  padding-bottom: 0.4rem;
}
.paddingBottom06 {
  padding-bottom: 0.6rem;
}
.paddingBottom {
  padding-bottom: 1rem;
}
.paddingBottom2 {
  padding-bottom: 2rem;
}
.paddingBottom3 {
  padding-bottom: 3rem;
}
.paddingBottom6 {
  padding-bottom: 6rem;
}
.paddingBottom10 {
  padding-bottom: 10rem;
}
.paddingLeft {
  padding-left: 1rem;
}
.paddingLeft2 {
  padding-left: 2rem;
}
.paddingLeft4 {
  padding-left: 4rem;
}
.paddingRight {
  padding-right: 1rem;
}
.paddingRight2 {
  padding-right: 2rem;
}
.paddingRight3 {
  padding-right: 3rem;
}
.paddingRight6 {
  padding-right: 6rem;
}
.marginTop3 {
  margin-top: 3rem;
}
.marginRight3 {
  margin-right: 3rem;
}
ul {
  list-style: none;
}
.blueButton {
  background-color: var(--bgBlue);
  color: white;
  padding: 0.8rem;
}
.whiteButton {
  background-color: white;
  color: black;
  padding: 0.8rem;
}
.border {
  border: 1px solid black;
}
.blueButton:hover {
  opacity: 0.7;
}
.h1FontSize {
  font-size: var(--h1FontSize);
}
.h2FontSize {
  font-size: var(--h2FontSize);
}
.h3FontSize {
  font-size: var(--h3FontSize);
}
.h4FontSize {
  font-size: var(--h4FontSize);
}
.h5FontSize {
  font-size: var(--h5FontSize);
}
.h6FontSize {
  font-size: var(--h6FontSize);
}
.h7FontSize {
  font-size: var(--h7FontSize);
}
.h8FontSize {
  font-size: var(--h8FontSize);
}
h1 {
  font-size: var(--h1FontSize);
}
h2 {
  font-size: var(--h2FontSize);
}
h3 {
  font-size: var(--h3FontSize);
}
h4 {
  font-size: var(--h4FontSize);
}
h5 {
  font-size: var(--h5FontSize);
}
.translateY10 {
  transform: translate(0, 10%);
}
.translateY20 {
  transform: translate(0, 20%);
}
.translateY40 {
  transform: translate(0, 40%);
}
.lightBlackText {
  color: var(--lightBlackText);
}
.blueText {
  color: var(--bgBlue);
}
.textUnderline {
  text-decoration: underline;
}
.hoverTextDecorationNone:hover {
  text-decoration: none;
}
.hoverTextColorPrugna:hover {
  color: var(--bgPrugna);
}
.hoverLightBackground:hover,
.hoverLightBackground:hover div .hoverLightBackground {
  background-color: var(--bgLightBackground);
}
.hoverDarkerBackground:hover {
  background-color: var(--bgDarkerBackground);
}
.parentWidth {
  width: 100%;
}
.parent35 {
  width: 35%;
}
.parent40 {
  width: 40%;
}
.parent45 {
  width: 45%;
}
.parent50 {
  width: 50%;
}
.parent55 {
  width: 55%;
}
.parent60 {
  width: 60%;
}
.parent65 {
  width: 65%;
}
.parentHeight9_8 {
  height: 9.8%;
}
.parentHeight33 {
  height: calc(100% / 3);
}
/* /general */

/* nav */
nav {
  width: 100%;
  min-width: var(--minWidth);
  height: var(--headerHeight);
  z-index: 1;
  background-color: white;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
nav ul {
  height: 100%;
}
nav ul li {
  height: 100%;
  position: relative;
}
nav ul li a {
  height: 100%;
}
nav .logo {
  width: var(--logoSize);
}
nav > ul:first-child li:first-child {
  margin-right: 0.5rem;
}
nav > ul:last-child li:last-child {
  margin-left: 0.5rem;
}
.menuNone {
  display: none;
  background-color: var(--bgLightBackground);
}
.why {
  width: 550px;
  height: 300px;
}
.bottomWhy {
  bottom: -300px;
}
.products {
  width: 250px;
  height: 450px;
}
.bottomProducts {
  bottom: -450px;
}
.solutions {
  width: 250px;
  height: 250px;
}
.bottomSolutions {
  bottom: -250px;
}
.contacts {
  width: 450px;
  height: 120px;
}
.bottomContacts {
  bottom: -120px;
}
.download {
  width: 250px;
  height: 100px;
}
.bottomDownload {
  bottom: -100px;
}
.positionLeft {
  position: absolute;
  left: 0;
}
.positionRight {
  position: absolute;
  right: 0;
}
nav .hoverLightBackground:hover .menuNone {
  display: flex;
}
/* /nav */

/* main */
.navRelative {
  margin-top: var(--headerHeight);
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
.bgLightBlue {
  background-color: lightblue;
}
.bgLightGreen {
  background-color: var(--bgLightGreen);
}
.bgPrugna {
  background-color: var(--bgPrugna);
}
.bgLightGrey {
  background-color: var(--bgLightGrey);
}
.bgRed {
  background-color: var(--bgRed);
}
.bgTurchese {
  background-color: var(--bgTurchese);
}
.bgLightRed {
  background-color: var(--bgLightRed);
}
.bgDarkBlue {
  background-color: var(--bgDarkBlue);
}
.bgGold {
  background-color: var(--bgGold);
}
.parent65.jumbo img {
  width: 100%;
  filter: drop-shadow(25px 25px 19px rgba(0, 0, 0, 0.15));
}
.card {
  width: calc((100% - var(--cardRightMargin)) / 3);
}
.cardBorder {
  border: 1px solid var(--cardBorderColor);
}
.hrWidth {
  width: 20%;
}
.littleCard {
  width: calc((100% - var(--littleCardRightMargin)) / 3);
}
hr {
  height: 1px;
  background-color: var(--cardBorderColor);
  border: none;
}
.cardRightMargin {
  margin-right: var(--cardRightMargin);
}
.horizontalCard {
  width: 100%;
  border: 1px solid var(--cardBorderColor);
}
#imgPartner {
  width: 100%;
  filter: drop-shadow(25px 25px 19px rgba(0, 0, 0, 0.15));
}
.card .imgContainer img {
  width: 100%;
}
.element {
  width: calc(100% / 3);
  height: calc(100vw / 3);
}
.overflowAuto {
  overflow: auto;
}
.element .unit {
  width: 50%;
  height: 50%;
}
.element .unit .bgLightGreen {
  height: 100%;
}
.element svg {
  width: 50%;
}
.element .weirdSvg svg {
  width: 90%;
}
.fillWhite svg {
  fill: white;
}
.hoverBoxShadow:hover {
  box-shadow: inset 0 0 5px black;
  opacity: 0.8;
}
a.element {
  color: black;
}
/* /main */

/* footer */
footer {
  background-color: black;
  color: white;
}
footer a {
  color: white;
}
footer a:hover {
  text-decoration: underline;
}
/* /footer */
